## Review Exercise: data analysis

Show how many elements this data has
Show the statistical summaries for the dataset ( df.describe() )

In [2]:
import numpy as np
import pandas as pd

In [3]:
#we can read in external data
df = pd.read_csv('pydata/flights.csv')

C:\Users\rb17\AppData\Local\Temp\ipykernel_3720\2555537024.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('pydata/flights.csv')

In [4]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.size
df.shape

(5819079, 31)

In [6]:
# Show the column names 
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [7]:
# Show the data types for each column
df.dtypes

YEAR                     int64
MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                 object
FLIGHT_NUMBER            int64
TAIL_NUMBER             object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE                 int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED                 int64
CANCELLED                int64
CANCELLATION_REASON     object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtype: object

In [28]:
# Show the statistical summaries
# for the numeric columns in the dataset ( df.describe() )
df.describe()
df.mean(numeric_only=True)
df.max(numeric_only=True)
df.min(numeric_only=True)
df.count(numeric_only=True)

YEAR                   5819079
MONTH                  5819079
DAY                    5819079
DAY_OF_WEEK            5819079
FLIGHT_NUMBER          5819079
SCHEDULED_DEPARTURE    5819079
DEPARTURE_TIME         5732926
DEPARTURE_DELAY        5732926
TAXI_OUT               5730032
WHEELS_OFF             5730032
SCHEDULED_TIME         5819073
ELAPSED_TIME           5714008
AIR_TIME               5714008
DISTANCE               5819079
WHEELS_ON              5726566
TAXI_IN                5726566
SCHEDULED_ARRIVAL      5819079
ARRIVAL_TIME           5726566
ARRIVAL_DELAY          5714008
DIVERTED               5819079
CANCELLED              5819079
AIR_SYSTEM_DELAY       1063439
SECURITY_DELAY         1063439
AIRLINE_DELAY          1063439
LATE_AIRCRAFT_DELAY    1063439
WEATHER_DELAY          1063439
dtype: int64

### Grouping Large Data Sets

In [11]:
# group the data by airline (carrier)
df.groupby('AIRLINE')[['DEPARTURE_DELAY']].mean() # or count or min etc.

         DEPARTURE_DELAY
AIRLINE
AA              8.900856
AS              1.785801
B6             11.514353
DL              7.369254
EV              8.715934
F9             13.350858
HA              0.485713
MQ             10.125188
NK             15.944766
OO              7.801104
UA             14.435441
US              6.141137
VX              9.022595
WN             10.581986

In [12]:
# aggregate min, mean, max delays for departure
df[['DEPARTURE_DELAY']].agg(['min', 'mean', 'max'])
# df['dep_delays']min.()

      DEPARTURE_DELAY
min        -82.000000
mean         9.370158
max       1988.000000

In [13]:
df[['DEPARTURE_DELAY', 'ARRIVAL_DELAY']].agg(['min', 'mean', 'max'])

      DEPARTURE_DELAY  ARRIVAL_DELAY
min        -82.000000     -87.000000
mean         9.370158       4.407057
max       1988.000000    1971.000000

In [14]:
# what if we need to count unique members
df.agg({'AIRLINE':['nunique']}) # nunique s the number of unique members

         AIRLINE
nunique       14

In [30]:
# how many unique aircraft...
df.agg({'TAIL_NUMBER':['nunique']})
# or
df.TAIL_NUMBER.nunique()

4897

In [24]:
# challenge: What was the largest departure delay?
longest_dep_delay = df.DEPARTURE_DELAY.max()
longest_dep_delay
# what was the longest arrival delay
# we can use [] syntax or we can use dot syntax
longest_arr_delay = df.ARRIVAL_DELAY.max()
# or
longest_Arr_delay = df['ARRIVAL_DELAY'].max()
longest_arr_delay
# # show ALL the related data for that row
df[ df.ARRIVAL_DELAY == longest_arr_delay ]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
337720,2015,1,23,5,AA,1322,N598AA,BHM,DFW,700,...,1805.0,1971.0,0,0,NaN,0.0,0.0,1971.0,0.0,0.0