# Time Series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Working with time and Data

In [12]:
import time
import timeit
import datetime # especially useful for time intervals
# there are limits on dates
datetime.MAXYEAR
datetime.MINYEAR
from datetime import datetime
from datetime import time
from datetime import timedelta

In [7]:
now = datetime.now()
now

datetime.datetime(2023, 4, 21, 9, 50, 37, 350495)

In [15]:
# we can work with time deltas
then = datetime(2010, 8, 20)
then
delta = now-then
delta
delta.days

4627

In [17]:
days12 = timedelta(12)
now+days12+days12

datetime.datetime(2023, 5, 15, 9, 50, 37, 350495)

In [19]:
# we can format dates nicely with date-time 'picture' format
now.strftime('%Y/%m/%d %A %B')

'2023/04/21 Friday April'

## Time Zones

In [20]:
import pytz

In [36]:
tz = pytz.timezone('America/New_York')
tz
datetime.now(tz)

datetime.datetime(2023, 4, 21, 5, 11, 9, 988769, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)

## Handling Dates and Times in Data Analysis

In [45]:
df = pd.read_csv('pydata/ibm.csv')
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume          int64
ExDividend    float64
SplitRatio      int64
AdjOpen       float64
AdjHigh       float64
AdjLow        float64
AdjClose      float64
AdjVolume       int64
dtype: object

In [61]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df[['Date']].dtypes

Date    datetime64[ns]
dtype: object

In [62]:
df.head(4)

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2010-01-04,131.18,132.97,130.85,132.45,6155300,0.0,1,107.034744,108.495272,106.765484,108.070985,6155300
1,2010-01-05,131.68,131.85,130.10,130.85,6841400,0.0,1,107.442712,107.581422,106.153531,106.765484,6841400
2,2010-01-06,130.68,131.49,129.81,130.00,5605300,0.0,1,106.626774,107.287684,105.916909,106.071937,5605300
3,2010-01-07,129.87,130.25,128.91,129.55,5840600,0.0,1,105.965865,106.275921,105.182564,105.704765,5840600

In [70]:
early_date = df.iloc[0]['Date']
early_date
df[['Date']].dtypes # Date    datetime64[ns]
type(early_date) # pandas._libs.tslibs.timestamps.Timestamp
# we can use these dates in calculations
late_date = (df.iloc[4]['Date'])
late_date-early_date

Timedelta('4 days 00:00:00')

Timedelta('4 days 00:00:00')